 
  /* started from https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes */

 body {
  /*font-family: 'Lato', sans-serif;*/
 font-family: 'Times New Roman', serif;
   background: #FF0000;
   margin: 0px;
   padding: 0px;
  }  

 
  

